h1 {
  margin-top: 15px;
}

.btn-danger {
  background-color: rgb(182, 37, 37);
}

.btn-danger:hover {
  background-color: rgb(235, 143, 143);
}

.btn-danger:focus {
  background-color: rgb(252, 76, 76)!important;
  border: 0px solid white;
}

.btn-danger:active:focus {
  background-color: rgb(252, 76, 76)!important;
  border: 0px solid white;
}