body {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: lighter;
}

html {
    height: 100%;

}

/* .customCal{
    color: rgb(66,110,134);
    border:2px solid rgb(47,49,49);
} */



