body {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: lighter;
}

html {
    height: 100%;

}

.customCal{
    color: rgb(66,110,134);
    background-color: rgba(255,255,255,0.8);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0.60rem;
}

#choreRow{
    height: 98%;
    background: url("/img/landing5.jpg");    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    margin-top: 100px;
    border-radius: 0.20rem;
}

#choreForm {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: lighter;
    font-size: 80px;
    color: rgba(47,49,49,0.7);
    height: 70%;
    width: 100%;
    margin-left: 20px;
    writing-mode:tb-rl;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform:rotate(180deg);
    transform: rotate(180deg);
    white-space:nowrap;
    display:block;
}

#choreCont {
    width: 100%; 
    border-radius: 0.60rem;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 15px;
    padding-right: 40px;
    height: 600px;
    text-align: left;
    color: rgba(47,49,49,0.9);
}

.labelChore {
    font-size: 20px;
    text-align:left;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 5px;
}

.choreFormGroup {
    padding-bottom: 30px;
}

.choreFormControl {
    text-align: left;
    width: 100%;
    float: left;
}

