/* .list-overflow-container {
  max-height: 545px;
  border: 1px #DDDDDD solid;
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-overflow-container ul {
  margin: 0;
}

.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

.list-overflow-container li * {
  cursor: pointer;
}

.list-overflow-container li a {
  color: #2A878C;
}

.list-overflow-container li:first-child {
  border-top: none;
}

.list-overflow-container li:last-child {
  border-bottom: none;
} */

.talk-bubble {
  margin: 40px;
  margin-bottom: 5px;
  display: inline-block;
  position: relative;
  width: 500px;
  border-radius: 20px;
  height: auto;
  background-color: rgba(248,241,229,0.9);
}
.border{
border: 8px solid #666;
}
.round{
border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: -8px;
  bottom: auto;
  border: 32px solid;
border-color: #666 transparent transparent transparent;

}
.tri-right.left-top:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color:  rgba(248,241,229,0.9) transparent transparent transparent;
}

.talktext {
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.list-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  padding-bottom: 20px;
  margin-bottom: 0;
  float: right;
  border-radius: 0.60rem;
}