.smackTalk {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: lighter;
    font-size: 80px;
    color: rgba(47,49,49,0.7);
    height: 40%;
    width: 100%;
    margin-left: 20px;
    writing-mode:tb-rl;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform:rotate(180deg);
    transform: rotate(180deg);
    white-space:nowrap;
    display:block;
}

#smackTalkRow{
    height: 98%;
    background: url("/img/full.jpg");    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    margin-top: 100px;
    border-radius: 0.20rem;
    margin-bottom: 200px;
}

.addComment {
    color: rgb(66,110,134);
    margin-top: 50px;
    padding-top: 30px;
    margin-bottom: 20px;
    padding-right: 10px;
    border-radius: 0.60rem;
    height: 883px;
    background-color: rgba(248,241,229,0.7);
    font-size: 15px;
}   

#commentClm{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 100%;
    max-width: 100%;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 1rem;
    font-size: 15px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

#commentCont {
    height: 100%;
}

#postComBtn {
    background-color: rgb(66,110,134);
    border: none;
    font-size: 15px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right: 25px;
    padding-left: 25px;
}   

.scrollBar {
    color:  rgb(66,110,134);
}

.left{
    float: left;
}

.right{
    float: right;
}

