.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 100px;
  margin: 0 auto;
  background: #E5E5E5;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
}
