.footer {
  height: 40;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(248,241,229);
}
/* 
.footer span {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  margin-bottom: 60px;
} */

/* make it sticky on calendar!!!! Everywhere else is good? */
