html {
    height: 100%;
    width: 100%;
}


.sweet-loading {
    /* position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/img/blackandwhite.jpg') 50% 50% no-repeat rgb(249,249,249); */

    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
}
#welcomeText {
    position: fixed;
    top: 0;
    right: 0; 
    color: rgb(47,49,49);
    margin-top: 163px;
    margin-right: 95px;
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: lighter;
    font-size: 25px;
    text-shadow: 0px 4px 3px rgba(140,106,78,0.1),
                 0px 8px 13px rgba(140,106,78,0.1),
                 0px 18px 23px rgba(140,106,78,0.1);
}
/* linear-gradient (to bottom, rgb(248,241,229, 1.0) 0%, rgba(140,106,78, 0.7) 30%, rgba(140,106,78, 0.9) 100%), */
#landing {
    background: url("/img/bedroom.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 9999;
}

#rightPic {
    background: url("/img/blackandwhite.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    padding-left: 20px;
    padding-right: 20px;
    right: 0;
    width: 50%;
    height: 65%;
    z-index: 9999;
    margin-top: 10%;
    margin-left: 40px;
    margin-right: 60px;
}

/* #icon {
    width: 150%;
} */

#roomieIcon {
    position: fixed;
    top: 0;
    right: 0; 
    margin-top: 30px;
    margin-right: 40px;   
    height: 50px;
    width: 50px;
}

#side {
    position: fixed;
    bottom: 0;
    right: 0; 
    margin-bottom: 30px;
    margin-right: 40px;   
    height: 50px;
    width: 50px;
}

#side2 {
    position: fixed;
    bottom: 0;
    left: 0; 
    margin-bottom: 30px;
    margin-left: 40px;   
    height: 50px;
    width: 50px;    
}

.wrapper {
    background-color: white;
    top: 0;
}