nav.navbar {
      font-family: 'Alegreya Sans SC', sans-serif;
      font-weight: lighter;
      /* z-index: 99999; */
}


nav.navbar.navbar-default {
  margin-bottom: 0;
}

nav.navbar.navbar-expand-lg{
  height: 100px;
}

#roomieIconNav { 
  position: fixed;
  top: 0;
  right: 0; 
  margin-top: 30px;
  margin-right: 40px;   
  height: 50px;
  width: 50px;
}
